Repository kurrent-io/documentation, pull requests merged in 2021-08, with the labels that each got.

#404 Management Doc for Projections
  docs/.vuepress/config.js
  docs/clients/grpc/projections/README.md
  import/repos.json
Labels: documentation

#424 Add projection samples for nodejs client
  docs/clients/grpc/projections/README.md
Labels: area/grpc, documentation, projections

#427 Updated v5 database version to v5.0.11
  docs/server/versions.json
Labels: version/v5
