Repository kurrent-io/documentation, pull requests merged in 2021-03, with the labels that each got.

#279 terraform : screenshot console and sample output of cli commands
  docs/README.md
  docs/cloud/automation/images/organisation_console.png
  docs/cloud/automation/images/token_console.png
  docs/cloud/automation/terraform.md
Labels: cloud

#271 #245 FAQ, DNS resolution
  docs/.vuepress/config.js
  docs/cloud/faq/README.md
Labels: cloud

#306 Added Algolia Search support
  .algolia/config.json
  .algolia/scrape.sh
  .github/workflows/algolia-scraper.yml
  .gitignore
  README.md
  docs/.vuepress/config.js
  docs/.vuepress/styles/index.styl
  docs/.vuepress/theme/components/Version.vue
  docs/clients/dotnet/versions.json
  import/import-client-docs.js
  package.json
  yarn.lock
Labels: search

#289 #287 additional cloud faq
  docs/.vuepress/config.js
  docs/cloud/faq/README.md
  docs/cloud/faq/cluster_provisioning.md
  docs/cloud/faq/providers.md
  docs/cloud/faq/roadmap.md
  docs/cloud/faq/sla.md
  docs/cloud/faq/support.md
  docs/cloud/faq/troubleshooting.md
Labels: cloud

#317 Targeted database documentation to release branches
  import/repos.json
Labels: area/server

#309 cloud backup / restore
  docs/.vuepress/config.js
  docs/.vuepress/theme/styles/palette.styl
  docs/cloud/ops/README.md
  docs/cloud/ops/backup.md
  docs/cloud/ops/images/jobs_scheduled_backup.png
  docs/cloud/ops/images/one_off_backup.png
  docs/cloud/ops/images/one_off_restore.png
  docs/cloud/ops/images/one_off_restore_cluster.png
  docs/cloud/ops/images/one_off_restore_scheduled.png
  docs/cloud/ops/images/take_backup.png
  docs/cloud/ops/images/take_scheduled_backup.png
  docs/cloud/ops/manual_backups.md
  docs/cloud/ops/restore.md
  docs/cloud/ops/scheduled_backups.md
Labels: cloud
